*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html {
  height: 100%;
}

.wraper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  background-color: #5a4a03;
}

.logo {
  background-color: #7d6001;
  width: 80%;
  margin-top: 10px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logo__href {
  color: white;
}

.navigation {
  background-color: #7d6001;
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.col-md-4 {
  height: 20%;
  background-color: #7d6001;
}

.h1,
.h2 {
  color: #7d6001;
}
