.container {
    position: relative;
    overflow-x: hidden;
    background-color: rgb(218, 214, 214);
    margin-bottom: 10px;
    width: 100vw;
    height: 100vh;
}

.information {
    margin-top: 10px;
    margin-left: 10px;
}

.information__about {
    background-color: white;
    padding: 2%;
    width: calc( 100% - 10px);
    margin-bottom: 2%;
    display: inline-block;
}

.information__company {
    background-color: white;
    padding: 2%;
    width: calc( 100% - 10px);
    margin-bottom: 2%;
    display: inline-block;
}

.information__servises {
    background-color: white;
    padding: 2%;
    width: calc( 100% - 10px);
    margin-bottom: 2%;
    display: inline-block;
}

.section {
    height: 100%;
    margin-left: 10px;
}

.section__main {
    background-color: white;
    padding: 2%;
    width: calc( 100% - 10px);
    display: inline-block;
}

.section__aside {
    background-color: white;
    padding: 2%;
    width: calc( 100% - 10px);
    margin-bottom: 10px;
    display: inline-block;
}

.nav {
    background-color: rgb(218, 214, 214);
    padding: 2%;
    width: 100%;
    display: inline-block;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        font-size: 16px;
    }
}

@media (min-width: 1024px) {
    .information {
        width: calc(100% - 18px);
    }
    .information__about {
        width: calc(100%/3 - 10px);
    }
    .information__company {
        background-color: white;
        width: calc(100%/3 - 10px);
        margin-left: 10px;
    }
    .information__servises {
        background-color: white;
        width: calc(100%/3 - 10px);
        margin-left: 10px;
    }
    .section {
        width: calc(100% - 10px);
        position: relative;
        margin-bottom: 2%;
    }
    .section__main {
        width: calc(70% - 10px);
        height: 100%;
    }
    .section__aside {
        width: 30%;
        height: 100%;
        position: absolute;
    }
}