body {
    background-color: gainsboro;
    padding: 10px;
    word-wrap: break-word;
}

#submit,
#reset,
input[type="search"] {
    border: 1px solid #c9c0e4;
    background: transparent;
    padding: 1px 4px;
    color: rgb(61, 40, 20);
}

#search::placeholder {
    background-color: gainsboro;
}

#submit:default {
    border-color: green;
}

.picture::before {
    content: "\2693";
}

div p::first-letter {
    color: blue;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
}

p::selection {
    color: rgb(3, 65, 30);
    background: rgb(203, 225, 247);
}

article p:nth-child(even) {
    font-style: italic;
}

.anchor {
    width: 100px;
    transition: width 2s, height 2s;
    -webkit-transition: width 2s, height 2s;
    -moz-transition: width 2s, height 2s;
    -ms-transition: width 2s, height 2s;
    -o-transition: width 2s, height 2s;
}

.anchor:hover {
    width: 150px;
}

.anchor:hover+.visible {
    visibility: visible;
    word-spacing: 200%;
    letter-spacing: 5px;
}

a {
    pointer-events: none;
}

p {
    text-indent: 1.5em;
}

.visible {
    visibility: hidden;
}

.footer {
    background: #ccc;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.footer2 {
    background: #ccc;
    object-fit: cover;
    width: 200px;
    height: 200px;
}