*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  position: relative;
  overflow-x: hidden;
  background-color: #a00493;
  width: 100%;
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 10px;
}

.block {
  background-color: cornflowerblue;
  margin-left: 15px;
  text-align: center;
  width: calc(100% - 30px);
}

.block__block1 {
  border: 1px solid black;
  width: 100%;
  height: 300px;
}

.block__block2 {
  border: 1px solid black;
  width: 100%;
  height: 300px;
}

.sidebar {
  border: 1px solid black;
  margin-left: 15px;
  margin-bottom: 20px;
  width: calc(100% - 30px);
  height: 70px;
}

@media (min-width: 580px) and (max-width: 1023px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
  .block {
    width: calc(60% - 15px);
    height: 80vh;
  }
  .block__block1 {
    height: 40vh;
  }
  .block__block2 {
    height: 40vh;
  }
  .sidebar {
    width: calc(40% - 30px);
    height: 80vh;
    margin-bottom: 0px;
  }
}

@media (min-width: 1024px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
  .block {
    width: calc(70% - 30px);
    display: flex;
    flex-wrap: wrap;
  }
  .block__block1 {
    width: 50%;
    height: 80vh;
  }
  .block__block2 {
    width: 50%;
    height: 80vh;
  }
  .sidebar {
    width: calc(30% - 15px);
    height: 80vh;
    margin-bottom: 0px;
  }
}
